<nav class="topcoat-list__container snapjs-left navigation" snap-drawer >
  <ng-include src="'partials/navigationMain.html'"></ng-include>
  
  <ul class="topcoat-list" ng-controller="NavigationCtrl">
    <li class="topcoat-list__item"><span class="topcoat-button" ng-click="modifierEnfant()">Modifier infos</span></li>
  </ul>
  
</nav>
<section class="wrapper" ng-controller="HomeCtrl" snap-content snap-options="optsNavigation" hm-swipeleft="prevEnfant()" hm-swiperight="nextEnfant()" >
    <div class="topcoat-navigation-bar header">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" title="menu" snap-toggle="left">
                <span class="topcoat-icon box-shadow-menu"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Cahier de {{currentEnfant.prenom}}</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
                <span class="topcoat-icon home-icon"></span>
            </a>
        </div>
    </div>
    <div id="content" class="topcoat-list__container list" >
        <h3 class="topcoat-list__header">Ev&egrave;nements du jour : {{currentCahier.date}}</h3>
        <ul class="topcoat-list" >
            <li class="topcoat-list__item--first" ng-click="newEvent()">
                <a class="topcoat-icon-button--quiet" ><span class="topcoat-icon plus-icon"></span></a>
            </li>
            <li ng-repeat="event in currentCahier.events" ng-click="editEvent(event)" class="topcoat-list__item">
                 <h3>{{ event.title }}</h3>
                <p>{{event.desc}}</p>
                <a class="topcoat-icon-button--quiet" title="Supprimer" ng-click="removeEvent(event, $index)" style="float: right;">
                    <span class="topcoat-icon delete-icon"></span>
                </a>
            </li>
        </ul>
    </div>
</section>