<nav class="topcoat-list__container snapjs-left navigation" snap-drawer >

  <ng-include src="'partials/navigationMain.html'"></ng-include>

</nav>
<section class="wrapper" ng-controller="HomeCtrl" snap-content snap-options="optsNavigation" >
<div class="topcoat-navigation-bar header">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" title="menu" snap-toggle="left" >
            <span class="topcoat-icon box-shadow-menu"></span>
        </a>
         <a class="topcoat-icon-button--quiet" ng-click="back()">
            <span class="topcoat-icon back_light-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Nouveau cahier</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
</div>

<div id="content" >
    <form id="cahierForm" name="cahierForm">
        <div class="left" style="float:left">
            <input ng-model="cahier.prenom" type="text" value="" placeholder="Pr&eacute;nom de l'enfant" class="topcoat-text-input--large">
        </div>
        <div class="left" style="float:left">
            <input ng-model="cahier.email" type="text" value="" placeholder="Email de correspondance" class="topcoat-text-input--large">
        </div>
        <div class="left" style="float:left">
            <input ng-model="cahier.tel" type="text" value="" placeholder="Tel" class="topcoat-text-input--large">
        </div>
        <button class="topcoat-button--large--cta" ng-click="add(cahier)">Ajouter</button>
    </form>
</div>
</section>