<nav class="topcoat-list__container snapjs-left navigation" snap-drawer >

  <ng-include src="'partials/navigationMain.html'"></ng-include>

</nav>
<section class="wrapper" ng-controller="HomeCtrl" snap-content snap-options="optsNavigation" >
<div class="topcoat-navigation-bar header">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" title="menu" snap-toggle="left" >
            <span class="topcoat-icon box-shadow-menu"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Instant de vie</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-button-bar full sub-header">
        <div class="topcoat-button-bar__item">
            <button class="topcoat-button-bar__button full first" ng-click="takePic()">
                <i class="neo160"></i>Take Pic
            </button>
        </div>
        <div class="topcoat-button-bar__item">
            <button class="topcoat-button-bar__button full" ng-click="add(event)">
                Valider
            </button>
        </div>
        <div class="topcoat-button-bar__item">
            <button class="topcoat-button-bar__button full" ng-click="cancel()">
                Annuler
            </button>
        </div>
    </div>
<div id="content" class="pad">
    <form id="eventForm" name="eventForm" class="panel">
        <div class="panel-inner">
        <div class="center field">
            <span class="field-label">Heure</span>
            <input type="text" timepicker ng-model="event.time" class="field-input" />
        </div>
        <div class="center field">
            <span class="field-label">Titre</span>
            <input ng-model="event.title" type="text" value="" placeholder="Titre" class="field-input">
        </div>
        <div class="center field">
            <span class="field-label">Description</span>
            <textarea ng-model="event.desc" class="field-input" rows="6" cols="36" placeholder="Description"></textarea>
        </div>
        <div class="center photo-field" ng-show="currentPhoto != ''" ng-swipe-left="prevPhoto()" ng-swipe-right="nextPhoto()">
            <img class="evt-photo" ng-src="{{currentPhoto}}" />
            <button class="delete" ng-click="deleteImg(indexPhoto)">&nbsp;</button>
        </div>
        </div>
    </form>
</div>
</section>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
