<section class="wrapper" ng-controller="HomeCtrl" snap-content snap-options="optsNavigation" >
<div class="topcoat-navigation-bar header">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" title="menu" snap-toggle="left" >
            <i class="topcoat-icon listview-icon"></i>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Un instant...</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <i class="topcoat-icon home-icon"></i>
        </a>
    </div>
</div>
<div class="topcoat-button-bar full sub-header">
        <div class="topcoat-button-bar__item">
            <button class="topcoat-button-bar__button full first btn-photo" ng-click="takePic()">
                <div>
                    <i class="neo160"></i>&nbsp;
                </div>
            </button>
        </div>
        <div class="topcoat-button-bar__item">
            <button class="topcoat-button-bar__button full" ng-click="add(event)">
                <i class="topcoat-icon checkmark-icon"></i>
                Valider
            </button>
        </div>
        <div class="topcoat-button-bar__item">
            <button class="topcoat-button-bar__button full btn-cancel" ng-click="cancel()">
                <i class="topcoat-icon error-icon"></i>
                Annuler
            </button>
        </div>
    </div>
<div id="content" class="pad">
    <form id="eventForm" name="eventForm" class="panel">
        <div class="panel-inner">
        <div class="center field first">
            <span class="field-label">Heure</span>
            <input type="text" timepicker ng-model="event.time" class="field-input" />
        </div>
        <div class="center field">
            <span class="field-label">Titre</span>
            <input ng-model="event.title" type="text" value="" placeholder="Titre" class="field-input">
        </div>
        <div class="center field" ng-class="{'last': currentPhoto == ''}">
            <span class="field-label">Description</span>
            <textarea ng-model="event.desc" class="field-input" rows="6" cols="36" placeholder="Description"></textarea>
        </div>
        <div class="center field last" ng-if="currentPhoto != ''" ng-click="showPhotos()">
            <span class="field-label">Photos</span>
            <div ng-repeat="picData in event.pictures" class="evt-photos" ng-animate="'slide'">
                <img class="evt-photo-item" ng-src="{{picData}}" />
            </div> 
        </div>
        </div>
    </form>
</div>
</section>
<nav class="topcoat-list__container snapjs-left navigation" snap-drawer >

  <ng-include src="'partials/navigationMain.html'"></ng-include>

</nav>
